<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :birthdate %>
  <%= f.date_field :birthdate %>

  <%= f.label :gender %>
  <%= f.text_field :gender %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit 'Sign up' %>
<% end %>

<%= render 'devise/shared/links' %>