<div id="<%= dom_id offer %>">
  <p>
    <strong>Description:</strong>
    <%= offer.description %>
  </p>

  <p>
    <strong>Start age:</strong>
    <%= offer.start_age %>
  </p>

  <p>
    <strong>End age:</strong>
    <%= offer.end_age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= offer.gender %>
  </p>

</div>
